<aside class="mb-4">
    <h4 class="title is-5 has-background-link-light">Mi trovin anche qui:</h4>
    <div class="level">
        <div class="level-item">
            <a href="https://stackoverflow.com/users/594509/damien-pirsy" target="_blank"><img src="{{asset "images/so_icon.png"}}" class="icon"></a>
        </div>
        <div class="level-item">
            <a href="https://www.instagram.com/damien_pirsy" target="_blank"><img src="{{asset "images/ig_icon.png"}}" class="icon"></a>
        </div>        
        <div class="level-item">
            <a href="https://github.com/DamienPirsy" target="_blank"><img src="{{asset "images/github_icon.png"}}" class="icon"></a>
        </div>    
        {{#if @site.twitter}}
        <div class="level-item">
            <a href="{{twitter_url @site.twitter}}" target="_blank"><img src="{{asset "images/fb_icon.png"}}" class="icon"></a>
        </div>
        {{/if}}        
        {{#if @site.facebook}}
        <div class="level-item">
            <a href="{{facebook_url @site.facebook}}" target="_blank"><img src="{{asset "images/fb_icon.png"}}" class="icon"></a>
        </div>
        {{/if}}
    </div>
</aside>