<!DOCTYPE html>
<html lang="{{@site.lang}}" class="has-navbar-fixed-top">
<head>
  {{! Document Settings }}
  <meta charset="utf-8" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{! Makes IE support useful HTML5/CSS3 features }}
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {{! Page Meta }}
  <title>{{meta_title}}{{#is "post, page"}} — {{@site.title}}{{/is}}</title>

  {{! Styles }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Montserrat:wght@600" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}" />

  <script>
    document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});
  </script>
  {{! Ghost outputs important stuff with this tag }}
  {{ghost_head}}
</head>

<body class="{{body_class}}">

  {{! Everything else gets inserted here }}
  {{{body}}}

  {{! common footer }}
  {{>"footer"}}
  
  {{! Ghost outputs important scripts with this, including the the content for the code injection pane }}
  {{ghost_foot}}

</body>
</html>
